In [2]:
import pandas as pd 
import numpy as np

### Data Cleaning: IPL Advertisers

In [84]:
advertiser_data = pd.read_excel("..\\Dataset\\fact_ipl_advertisers.xlsx")
advertiser_data

,sno,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk
0,1,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High - Carcinogenic (Surrogate Ads)
1,2,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Very High,Extremely High - Promotes Gambling
2,3,Reliance Consumer Products,FMCG / Beverages,multiple,Medium,Moderate (Sugar Content)
3,4,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High - Promotes Gambling
4,5,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Very High,Carcinogenic (Surrogate Ads)
5,6,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate (Sugar Content)
6,7,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Very High,Carcinogenic (Surrogate Ads)
7,8,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High - Promotes Gambling
8,9,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Medium,Moderate (Sugar Content)
9,10,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low

In [85]:
advertiser_data.drop(columns=['sno'], axis=1, inplace=True)
advertiser_data.columns

Index(['advertiser_brand', 'category', 'brand_ambassadors',
       'celebrity_influence', 'health_social_risk'],
      dtype='object')

In [86]:
advertiser_data['celebrity_influence'].unique()

array(['Extremely High', 'Very  High', 'Medium', 'High', 'Moderate'],
      dtype=object)

In [87]:
# Replacing the 'Very High' with 'Extremely High'
advertiser_data['celebrity_influence'] = advertiser_data['celebrity_influence'].replace('Very  High', 'Extremely High')
advertiser_data['celebrity_influence'].unique()

array(['Extremely High', 'Medium', 'High', 'Moderate'], dtype=object)

In [88]:
# Replacing the 'Medium' with 'Mederate'
advertiser_data['celebrity_influence'] = advertiser_data['celebrity_influence'].replace('Medium', 'Moderate')
advertiser_data['celebrity_influence'].unique()

array(['Extremely High', 'Moderate', 'High'], dtype=object)

In [89]:
advertiser_data['health_social_risk'].unique()

array(['Extremely High - Carcinogenic (Surrogate Ads)',
       'Extremely High - Promotes Gambling', 'Moderate  (Sugar Content)',
       'Carcinogenic (Surrogate Ads)', 'Low '], dtype=object)

In [90]:
# Spliting the info into list
advertiser_data[['health_social_risk', 'health_social_risk_cause']] = advertiser_data['health_social_risk'].str.split('-', expand=True)
advertiser_data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,Moderate (Sugar Content),None
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,Carcinogenic (Surrogate Ads),None
5,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate (Sugar Content),None
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,Carcinogenic (Surrogate Ads),None
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling
8,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Moderate,Moderate (Sugar Content),None
9,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low,None

In [91]:
# Shifting the values to null value
mask = advertiser_data['health_social_risk_cause'].isna()

advertiser_data.loc[mask, 'health_social_risk_cause'] = advertiser_data.loc[mask, 'health_social_risk']
advertiser_data.loc[mask, 'health_social_risk'] = None

In [92]:
advertiser_data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,None,Moderate (Sugar Content)
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,None,Carcinogenic (Surrogate Ads)
5,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,None,Moderate (Sugar Content)
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,None,Carcinogenic (Surrogate Ads)
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling
8,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Moderate,None,Moderate (Sugar Content)
9,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,None,Low

In [93]:
rank_mapping = {
    "Carcinogenic (Surrogate Ads)": "Extremely High",
    "Promotes Gambling": "Extremely High",
    "Moderate  (Sugar Content)": "Moderate",
    "Low ": "Low"
}

def fill_based_on_cause(row):
    if pd.isna(row['health_social_risk']):
        cause = row['health_social_risk_cause']      
        return rank_mapping.get(cause, "Not Applicable")
    return row['health_social_risk']

advertiser_data['health_social_risk'] = advertiser_data.apply(fill_based_on_cause, axis=1)

In [94]:
advertiser_data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,Moderate,Moderate (Sugar Content)
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
5,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate,Moderate (Sugar Content)
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling
8,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Moderate,Moderate,Moderate (Sugar Content)
9,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low,Low

In [95]:
advertiser_data['health_social_risk'].unique()

array(['Extremely High ', 'Moderate', 'Extremely High', 'Low'],
      dtype=object)

In [96]:
advertiser_data['health_social_risk'] = advertiser_data['health_social_risk'].str.strip()
advertiser_data['health_social_risk'].unique()

array(['Extremely High', 'Moderate', 'Low'], dtype=object)

In [97]:
advertiser_data['health_social_risk_cause'].unique()

array([' Carcinogenic (Surrogate Ads)', ' Promotes Gambling',
       'Moderate  (Sugar Content)', 'Carcinogenic (Surrogate Ads)',
       'Low '], dtype=object)

In [98]:
advertiser_data['health_social_risk_cause'] = advertiser_data['health_social_risk_cause'].str.strip()
advertiser_data['health_social_risk_cause'].unique()

array(['Carcinogenic (Surrogate Ads)', 'Promotes Gambling',
       'Moderate  (Sugar Content)', 'Low'], dtype=object)

In [99]:
advertiser_data.to_csv("..\\Dataset\\cleaned_ipl_advertisers.csv", index=False)

---

### Data Cleaning: IPL Central Contract

In [100]:
central_contracts = pd.read_excel("..\\Dataset\\fact_ipl_central_contracts.xlsx")
central_contracts

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration
0,Title Sponsor,Tata Group,500.0,2500.0,5 Years (2024 - 2028)
1,Associate Partner,My11Circle,125.0,625.0,5 Years (2024 - 2028)
2,Associate Partner,Angel One,82.0,410.0,5 Years (2024 - 2028)
3,Associate Partner,RuPay,42.0,210.0,5 Years (2024 - 2028)
4,Official Broadcaster (TV),Star Sports,4715.0,23575.0,5 Years (2024 - 2028)
5,Official Digital Streaming Partner,JioCinema (Viacom18),4751.0,23758.0,5 Years (2024 - 2028)
6,Official Strategic Timeout Partner,CEAT,NaN,NaN,5 Years (2024 - 2028)
7,Official Umpire Partner,Wonder Cement,NaN,NaN,5 Years (2024 - 2028)
8,Official Orange & Purple Cap Partner,Aramco,NaN,NaN,5 Years (2024 - 2028)

In [101]:
central_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   contract_type               9 non-null      object
 1   partner_sponsor_name        9 non-null      object
 2   amount_in_crores_2025       6 non-null      float64
 3   total_deal_value_in_crores  6 non-null      float64
 4   contract_duration           9 non-null      object
dtypes: float64(2), object(3)
memory usage: 492.0+ bytes

In [102]:
central_contracts[['contract_duration_(in_Year)', 'contract_duration_range']] = central_contracts['contract_duration'].str.split('Years', expand=True)
central_contracts

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration,contract_duration_(in_Year),contract_duration_range
0,Title Sponsor,Tata Group,500.0,2500.0,5 Years (2024 - 2028),5,(2024 - 2028)
1,Associate Partner,My11Circle,125.0,625.0,5 Years (2024 - 2028),5,(2024 - 2028)
2,Associate Partner,Angel One,82.0,410.0,5 Years (2024 - 2028),5,(2024 - 2028)
3,Associate Partner,RuPay,42.0,210.0,5 Years (2024 - 2028),5,(2024 - 2028)
4,Official Broadcaster (TV),Star Sports,4715.0,23575.0,5 Years (2024 - 2028),5,(2024 - 2028)
5,Official Digital Streaming Partner,JioCinema (Viacom18),4751.0,23758.0,5 Years (2024 - 2028),5,(2024 - 2028)
6,Official Strategic Timeout Partner,CEAT,NaN,NaN,5 Years (2024 - 2028),5,(2024 - 2028)
7,Official Umpire Partner,Wonder Cement,NaN,NaN,5 Years (2024 - 2028),5,(2024 - 2028)
8,Official Orange & Purple Cap Partner,Aramco,NaN,NaN,5 Years (2024 - 2028),5,(2024 - 2028)

In [103]:
central_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   contract_type                9 non-null      object
 1   partner_sponsor_name         9 non-null      object
 2   amount_in_crores_2025        6 non-null      float64
 3   total_deal_value_in_crores   6 non-null      float64
 4   contract_duration            9 non-null      object
 5   contract_duration_(in_Year)  9 non-null      object
 6   contract_duration_range      9 non-null      object
dtypes: float64(2), object(5)
memory usage: 636.0+ bytes

In [104]:
# Converting the "Year" into integer
central_contracts['contract_duration_(in_Year)'] = central_contracts['contract_duration_(in_Year)'].astype(int)
central_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   contract_type                9 non-null      object
 1   partner_sponsor_name         9 non-null      object
 2   amount_in_crores_2025        6 non-null      float64
 3   total_deal_value_in_crores   6 non-null      float64
 4   contract_duration            9 non-null      object
 5   contract_duration_(in_Year)  9 non-null      int64
 6   contract_duration_range      9 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 636.0+ bytes

In [105]:
# Removing the 'contract_duration'
central_contracts.drop(columns=['contract_duration'], axis=1, inplace=True)
central_contracts

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
0,Title Sponsor,Tata Group,500.0,2500.0,5,(2024 - 2028)
1,Associate Partner,My11Circle,125.0,625.0,5,(2024 - 2028)
2,Associate Partner,Angel One,82.0,410.0,5,(2024 - 2028)
3,Associate Partner,RuPay,42.0,210.0,5,(2024 - 2028)
4,Official Broadcaster (TV),Star Sports,4715.0,23575.0,5,(2024 - 2028)
5,Official Digital Streaming Partner,JioCinema (Viacom18),4751.0,23758.0,5,(2024 - 2028)
6,Official Strategic Timeout Partner,CEAT,NaN,NaN,5,(2024 - 2028)
7,Official Umpire Partner,Wonder Cement,NaN,NaN,5,(2024 - 2028)
8,Official Orange & Purple Cap Partner,Aramco,NaN,NaN,5,(2024 - 2028)

**Filling the NULL values through research and external soruces**

In [106]:
central_contracts[central_contracts['amount_in_crores_2025'].isnull()]

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
6,Official Strategic Timeout Partner,CEAT,NaN,NaN,5,(2024 - 2028)
7,Official Umpire Partner,Wonder Cement,NaN,NaN,5,(2024 - 2028)
8,Official Orange & Purple Cap Partner,Aramco,NaN,NaN,5,(2024 - 2028)

For `partner_sponsor_name`: 'CEAT'
* The deal value for this partnership is reported as **240 crore (total over a five-year term)** with the Board of Control for Cricket in India (BCCI).
* Since this **240 crore figure is for the full five-year cycle (202428**), the approximate annual value works out to about **48 crore per year** if averaged evenly.

In [107]:
central_contracts.loc[central_contracts['contract_type'] == 'Official Strategic Timeout Partner', 
                      ['amount_in_crores_2025', 'total_deal_value_in_crores']] = [48, 240]
central_contracts.loc[central_contracts['contract_type'] == 'Official Strategic Timeout Partner']

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
6,Official Strategic Timeout Partner,CEAT,48.0,240.0,5,(2024 - 2028)

For `partner_sponsor_name`: 'Wonder Cement'
* Wonder Cement signed a central sponsorship deal with the IPL (BCCI) worth **250 crore spanning 20242028**.
* So, for the year 2025, Wonder Cements sponsorship contribution is **approximately 50 crore**.

In [108]:
central_contracts.loc[central_contracts['contract_type'] == 'Official Umpire Partner', 
                      ['amount_in_crores_2025', 'total_deal_value_in_crores']] = [50, 250]
central_contracts.loc[central_contracts['contract_type'] == 'Official Umpire Partner']

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
7,Official Umpire Partner,Wonder Cement,50.0,250.0,5,(2024 - 2028)

For `partner_sponsor_name`: 'Aramco'
* Aramcos IPL association (Orange Cap & Purple Cap sponsorship) is reported as an annual deal. Widely cited value: **65 crores per year**
* Since the deal is reported on a per-annum basis, assigning a total without confirmed tenure would be speculative

In [109]:
central_contracts.loc[central_contracts['contract_type'] == 'Official Orange & Purple Cap Partner', 
                      ['amount_in_crores_2025']] = [65]
central_contracts.loc[central_contracts['contract_type'] == 'Official Orange & Purple Cap Partner']

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
8,Official Orange & Purple Cap Partner,Aramco,65.0,NaN,5,(2024 - 2028)

In [110]:
central_contracts

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
0,Title Sponsor,Tata Group,500.0,2500.0,5,(2024 - 2028)
1,Associate Partner,My11Circle,125.0,625.0,5,(2024 - 2028)
2,Associate Partner,Angel One,82.0,410.0,5,(2024 - 2028)
3,Associate Partner,RuPay,42.0,210.0,5,(2024 - 2028)
4,Official Broadcaster (TV),Star Sports,4715.0,23575.0,5,(2024 - 2028)
5,Official Digital Streaming Partner,JioCinema (Viacom18),4751.0,23758.0,5,(2024 - 2028)
6,Official Strategic Timeout Partner,CEAT,48.0,240.0,5,(2024 - 2028)
7,Official Umpire Partner,Wonder Cement,50.0,250.0,5,(2024 - 2028)
8,Official Orange & Purple Cap Partner,Aramco,65.0,NaN,5,(2024 - 2028)

In [111]:
central_contracts.to_csv("..\\Dataset\\cleaned_ipl_central_contracts.csv", index=False)

---

### Data Cleaning: Revenue Demography

In [7]:
revenue_demography = pd.read_excel("..\\Dataset\\fact_revenue_demography.xlsx")
revenue_demography

,company,sector,parent,latest_annual_revenue,age_group,income_group,urban_population,demographic_notes,Demographic Notes
0,Dream11,Fantasy/App,Dream Sports,"6,384 (FY23)","20 to 35 (core), also 18 to 40+",Middle & Upper-middle,Urban & Tier 2/3 cities,77% male; strong in Tier 2/3; wide sports inte...,https://entrepreneurs to day.in/a-look-at-drea...
1,PokerBaazi,Fantasy/App,Moonshine Technology,415 (FY24),"25 to 34 (largest), 18 to 44",Middle & Upper-middle,Urban-centric,"68% male; tech-savvy, young professionals",NaN
2,My11Circle,Fantasy/App,Games24x7,"2,000- 2,500 (FY23, est.)","25 to 34 (core), 18+",Middle & Upper-middle,"Urban, Tier 2/3, Rural",81% male; strong in Tier 2/3; pan-India reach;...,https://www.socialsamosa.com/interviews/saroj-...
3,Vimal Pan Masala,Pan Masala,DS Group,"5,267 (FY24, group)","18 to 40 (core), 15 to 50+","Lower, Middle, Upper-middle",Urban & Rural,Mass-market; all socioeconomic groups; popular...,https://www.cus to mmarketinsights.com/report/...
4,Kamla Pasand,Pan Masala,KP Group,Not disclosed (large player),"18 to 40 (core), 15 to 50+","Lower, Middle, Upper-middle",Urban & Rural,Similar to Vimal; strong in North/Central Indi...,https://www.cus to mmarketinsights.com/report/...
5,Rajshree,Pan Masala,KP Group,Not disclosed,"18 to 40 (core), 15 to 50+","Lower, Middle",Urban & Rural,Focus on affordable/non-premium segment; stron...,https://www.globalgrowthinsights.com/market-re...

### Data Cleaning: Summary Demography

In [8]:
summary_demography = pd.read_excel("..\\Dataset\\fact_summary_demography.xlsx")
summary_demography

,income_group,annual_income,estimated_user_population,key_characteristics
0,Lower Income,< 3 Lakhs,~150 to 200 million,"Daily wage workers, rural populations, unorgan..."
1,Lower-Middle,3 - 7 Lakhs,~100 to 150 million,"Urban migrants, small traders, non-premium pan..."
2,Middle,7-12 Lakhs,~30 to 50 million,"urban professionals, casual gamers, techies"

In [9]:
# Changing the labels of the in the income group feature
income_group_labels = {
    "Lower Income": "Lower",
    "Lower-Middle": "Middle",
    "Middle": "Upper-Middle"
}

summary_demography["income_group"] = summary_demography["income_group"].map(income_group_labels)

In [10]:
summary_demography

,income_group,annual_income,estimated_user_population,key_characteristics
0,Lower,< 3 Lakhs,~150 to 200 million,"Daily wage workers, rural populations, unorgan..."
1,Middle,3 - 7 Lakhs,~100 to 150 million,"Urban migrants, small traders, non-premium pan..."
2,Upper-Middle,7-12 Lakhs,~30 to 50 million,"urban professionals, casual gamers, techies"

In [11]:
summary_demography.to_csv("..\\Dataset\\cleaned_summary_demography.csv", index=False)