In [4]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
central_contracts = pd.read_csv("..\\Dataset\\cleaned_ipl_central_contracts.csv")

In [6]:
advertiser_data = pd.read_csv("..\\Dataset\\cleaned_ipl_advertisers.csv")

In [7]:
revenue_demography = pd.read_excel("..\\Dataset\\fact_revenue_demography.xlsx")

In [8]:
summary_demography = pd.read_csv("..\\Dataset\\cleaned_summary_demography.csv")

### 1️⃣ IPL 2025 Central Contracts Revenue Breakdown
What is the total revenue generated by IPL from Central contracts in the year 2025? List the revenue contributors by %.

In [11]:
data = central_contracts.copy()
data

,contract_type,partner_sponsor_name,amount_in_crores_2025,total_deal_value_in_crores,contract_duration_(in_Year),contract_duration_range
0,Title Sponsor,Tata Group,500.0,2500.0,5,(2024 - 2028)
1,Associate Partner,My11Circle,125.0,625.0,5,(2024 - 2028)
2,Associate Partner,Angel One,82.0,410.0,5,(2024 - 2028)
3,Associate Partner,RuPay,42.0,210.0,5,(2024 - 2028)
4,Official Broadcaster (TV),Star Sports,4715.0,23575.0,5,(2024 - 2028)
5,Official Digital Streaming Partner,JioCinema (Viacom18),4751.0,23758.0,5,(2024 - 2028)
6,Official Strategic Timeout Partner,CEAT,48.0,240.0,5,(2024 - 2028)
7,Official Umpire Partner,Wonder Cement,50.0,250.0,5,(2024 - 2028)
8,Official Orange & Purple Cap Partner,Aramco,65.0,NaN,5,(2024 - 2028)

In [12]:
total_revenue_generated_2025 = data['amount_in_crores_2025'].sum()
total_revenue_generated_2025

np.float64(10378.0)

In [13]:
revenue_generated_2025 = central_contracts[['partner_sponsor_name', 'amount_in_crores_2025']].copy()
revenue_generated_2025['revenue_contribution_%'] = round((revenue_generated_2025['amount_in_crores_2025'] / total_revenue_generated_2025) * 100, ndigits=2)

revenue_generated_2025

   partner_sponsor_name  amount_in_crores_2025  revenue_contribution_%
0            Tata Group                  500.0                    4.82
1            My11Circle                  125.0                    1.20
2             Angel One                   82.0                    0.79
3                 RuPay                   42.0                    0.40
4           Star Sports                 4715.0                   45.43
5  JioCinema (Viacom18)                 4751.0                   45.78
6                  CEAT                   48.0                    0.46
7         Wonder Cement                   50.0                    0.48
8                Aramco                   65.0                    0.63

In [14]:
revenue_generated_2025.sort_values('amount_in_crores_2025', ascending=False)

   partner_sponsor_name  amount_in_crores_2025  revenue_contribution_%
5  JioCinema (Viacom18)                 4751.0                   45.78
4           Star Sports                 4715.0                   45.43
0            Tata Group                  500.0                    4.82
1            My11Circle                  125.0                    1.20
2             Angel One                   82.0                    0.79
8                Aramco                   65.0                    0.63
7         Wonder Cement                   50.0                    0.48
6                  CEAT                   48.0                    0.46
3                 RuPay                   42.0                    0.40

In [15]:
# Total Revenue generated by the sponser
revenue_generated_2025['amount_in_crores_2025'].sum()

np.float64(10378.0)

---
### 2️⃣ Health and Social Risk Index of Top Advertising Brands
What is the health / social risk index for each of the top advertising brands?

In [16]:
data = advertiser_data.copy()
data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,Moderate,Moderate (Sugar Content)
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
5,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate,Moderate (Sugar Content)
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling
8,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Moderate,Moderate,Moderate (Sugar Content)
9,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low,Low

In [17]:
data['health_social_risk_cause'].unique()

array(['Carcinogenic (Surrogate Ads)', 'Promotes Gambling',
       'Moderate  (Sugar Content)', 'Low'], dtype=object)

Calculating the **Health & Social Risk** Index

In [18]:
risk_index_mapping = {
    'Low': 1,
    'Moderate': 2,
    'High': 3, 
    'Extremely High': 4
}

risk_cause_weight = {
    'Carcinogenic (Surrogate Ads)': 1.5,
    'Promotes Gambling': 1.2, 
    'Moderate  (Sugar Content)': 0.7, 
    'Low': 0.5  
}


# Mapping these index value with the data
data['risk_index_rank'] = data['health_social_risk'].map(risk_index_mapping) * data['health_social_risk_cause'].map(risk_cause_weight)
data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause,risk_index_rank
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads),6.0
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling,4.8
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,Moderate,Moderate (Sugar Content),1.4
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling,4.8
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,Extremely High,Carcinogenic (Surrogate Ads),6.0
5,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate,Moderate (Sugar Content),1.4
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,Extremely High,Carcinogenic (Surrogate Ads),6.0
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling,4.8
8,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Moderate,Moderate,Moderate (Sugar Content),1.4
9,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low,Low,0.5

In [19]:
advertising_brands = data[['advertiser_brand', 'category', 'risk_index_rank']].copy()
advertising_brands.sort_values('risk_index_rank', ascending=False)

,advertiser_brand,category,risk_index_rank
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,6.0
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,6.0
6,Kamla Pasand,Pan Masala/Mouth Freshener,6.0
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,4.8
7,PokerBaazi,Fantasy Gaming / Betting,4.8
3,My11Circle,Fantasy Gaming / Betting,4.8
5,Parle Biscuits,FMCG (Biscuits & Snacks),1.4
2,Reliance Consumer Products,FMCG / Beverages,1.4
8,Britannia 50-50,FMCG (Biscuits & Snacks),1.4
9,Amazon Prime,OTT/Entertainment,0.5

---
### 3️⃣ Projected CAGR to 2030 for Top 5 High Health & Social Risk Companies
What is the projected CAGR until 2030 for the top 5 companies with a high health/social risk index?

In [105]:
data = revenue_demography.copy()
data

,company,sector,parent,latest_annual_revenue,age_group,income_group,urban_population,demographic_notes,Demographic Notes
0,Dream11,Fantasy/App,Dream Sports,"6,384 (FY23)","20 to 35 (core), also 18 to 40+",Middle & Upper-middle,Urban & Tier 2/3 cities,77% male; strong in Tier 2/3; wide sports inte...,https://entrepreneurs to day.in/a-look-at-drea...
1,PokerBaazi,Fantasy/App,Moonshine Technology,415 (FY24),"25 to 34 (largest), 18 to 44",Middle & Upper-middle,Urban-centric,"68% male; tech-savvy, young professionals",NaN
2,My11Circle,Fantasy/App,Games24x7,"2,000- 2,500 (FY23, est.)","25 to 34 (core), 18+",Middle & Upper-middle,"Urban, Tier 2/3, Rural",81% male; strong in Tier 2/3; pan-India reach;...,https://www.socialsamosa.com/interviews/saroj-...
3,Vimal Pan Masala,Pan Masala,DS Group,"5,267 (FY24, group)","18 to 40 (core), 15 to 50+","Lower, Middle, Upper-middle",Urban & Rural,Mass-market; all socioeconomic groups; popular...,https://www.cus to mmarketinsights.com/report/...
4,Kamla Pasand,Pan Masala,KP Group,Not disclosed (large player),"18 to 40 (core), 15 to 50+","Lower, Middle, Upper-middle",Urban & Rural,Similar to Vimal; strong in North/Central Indi...,https://www.cus to mmarketinsights.com/report/...
5,Rajshree,Pan Masala,KP Group,Not disclosed,"18 to 40 (core), 15 to 50+","Lower, Middle",Urban & Rural,Focus on affordable/non-premium segment; stron...,https://www.globalgrowthinsights.com/market-re...

To calculate the CAGR, need to have the annual revenue of 2022 and 2024 (measuring growth over 2 years)

In [106]:
# In 2024
Dream11 = 7800 # FY23 was ₹6,384 Cr; FY24 is estimated based on 22% growth
PokerBazzi = 415 # Per Moonshine Tech ROC filings
My11Circle = 2700 # Parent Games24x7 reported ~₹2,270 Cr for FY24
VimalPanMasala = 5267 # Matches market leader estimates for Vishnu Packaging
KamalaPasand = 4200 
Rajshree = 3400

In [107]:
# Adding Inserting the column in the data
data['annual_revenue_FY24(in crores)'] = [Dream11, PokerBazzi, My11Circle, VimalPanMasala, KamalaPasand, Rajshree]

In [108]:
# In 2022
Dream11 = 3841  
PokerBazzi = 220 
My11Circle = 1546
VimalPanMasala = 4434
KamalaPasand = 3600 
Rajshree = 2900

In [109]:
# Adding Inserting the column in the data
data['annual_revenue_FY22(in crores)'] = [Dream11, PokerBazzi, My11Circle, VimalPanMasala, KamalaPasand, Rajshree]

In [110]:
# Calculating the CAGR (2022 -> 2024)
data['CAGR'] = round(
    ((((data['annual_revenue_FY24(in crores)'] / data['annual_revenue_FY22(in crores)']) ** (1/2)) - 1)),
    2
)

In [111]:
data[['company', 'CAGR']]

            company  CAGR
0           Dream11  0.43
1        PokerBaazi  0.37
2        My11Circle  0.32
3  Vimal Pan Masala  0.09
4      Kamla Pasand  0.08
5          Rajshree  0.08

In [112]:
# calculating the projected CAGR
data['projected_CAGR'] = data['annual_revenue_FY24(in crores)'] * (1 + data['CAGR'])** 6

In [113]:
data['projected_CAGR'] = data['projected_CAGR'].round(2)
data[['company', 'annual_revenue_FY22(in crores)', 'annual_revenue_FY24(in crores)', 'CAGR', 'projected_CAGR']]

,company,annual_revenue_FY22(in crores),annual_revenue_FY24(in crores),CAGR,projected_CAGR
0,Dream11,3841,7800,0.43,66697.70
1,PokerBaazi,220,415,0.37,2743.92
2,My11Circle,1546,2700,0.32,14282.60
3,Vimal Pan Masala,4434,5267,0.09,8833.29
4,Kamla Pasand,3600,4200,0.08,6664.87
5,Rajshree,2900,3400,0.08,5395.37

In [114]:
mapping_dictionary = {'Sporta Technologies (Dream11)': 'Dream11', 'Vishnu Packaging (Vimal Elaichi)': 'Vimal Pan Masala', 'Rajshree Silver Coated Elaichi': 'Rajshree'}
data['company'] = data['company'].replace(mapping_dictionary)
advertising_brands['advertiser_brand'] = advertising_brands['advertiser_brand'].replace(mapping_dictionary)

In [117]:
# Merging both data and advertising_brands tables.
projected_CAGR = pd.merge(data, advertising_brands, left_on = 'company', right_on = 'advertiser_brand', how = 'inner')
projected_CAGR = projected_CAGR.sort_values('risk_index_rank', ascending=False)

In [118]:
projected_CAGR[['company', 'risk_index_rank', 'annual_revenue_FY22(in crores)', 'annual_revenue_FY24(in crores)', 'CAGR', 'projected_CAGR']]

,company,risk_index_rank,annual_revenue_FY22(in crores),annual_revenue_FY24(in crores),CAGR,projected_CAGR
4,Kamla Pasand,6.0,3600,4200,0.08,6664.87
3,Vimal Pan Masala,6.0,4434,5267,0.09,8833.29
5,Rajshree,6.0,2900,3400,0.08,5395.37
0,Dream11,4.8,3841,7800,0.43,66697.70
1,PokerBaazi,4.8,220,415,0.37,2743.92
2,My11Circle,4.8,1546,2700,0.32,14282.60

---
### 4️⃣ Negative Population Impact of High-Risk Brands
Estimate the total population being negatively impacted by these high-risk brands (both pan-masala and betting apps).

In [145]:
revenue_data = revenue_demography.copy()
revenue_data

,company,sector,parent,latest_annual_revenue,age_group,income_group,urban_population,demographic_notes,Demographic Notes
0,Dream11,Fantasy/App,Dream Sports,"6,384 (FY23)","20 to 35 (core), also 18 to 40+",Middle & Upper-middle,Urban & Tier 2/3 cities,77% male; strong in Tier 2/3; wide sports inte...,https://entrepreneurs to day.in/a-look-at-drea...
1,PokerBaazi,Fantasy/App,Moonshine Technology,415 (FY24),"25 to 34 (largest), 18 to 44",Middle & Upper-middle,Urban-centric,"68% male; tech-savvy, young professionals",NaN
2,My11Circle,Fantasy/App,Games24x7,"2,000- 2,500 (FY23, est.)","25 to 34 (core), 18+",Middle & Upper-middle,"Urban, Tier 2/3, Rural",81% male; strong in Tier 2/3; pan-India reach;...,https://www.socialsamosa.com/interviews/saroj-...
3,Vimal Pan Masala,Pan Masala,DS Group,"5,267 (FY24, group)","18 to 40 (core), 15 to 50+","Lower, Middle, Upper-middle",Urban & Rural,Mass-market; all socioeconomic groups; popular...,https://www.cus to mmarketinsights.com/report/...
4,Kamla Pasand,Pan Masala,KP Group,Not disclosed (large player),"18 to 40 (core), 15 to 50+","Lower, Middle, Upper-middle",Urban & Rural,Similar to Vimal; strong in North/Central Indi...,https://www.cus to mmarketinsights.com/report/...
5,Rajshree,Pan Masala,KP Group,Not disclosed,"18 to 40 (core), 15 to 50+","Lower, Middle",Urban & Rural,Focus on affordable/non-premium segment; stron...,https://www.globalgrowthinsights.com/market-re...

In [146]:
revenue_data = revenue_data[['company', 'sector', 'income_group']]
revenue_data

            company       sector                 income_group
0           Dream11  Fantasy/App        Middle & Upper-middle
1        PokerBaazi  Fantasy/App        Middle & Upper-middle
2        My11Circle  Fantasy/App        Middle & Upper-middle
3  Vimal Pan Masala   Pan Masala  Lower, Middle, Upper-middle
4      Kamla Pasand   Pan Masala  Lower, Middle, Upper-middle
5          Rajshree   Pan Masala                Lower, Middle

In [147]:
revenue_data.loc[:, 'income_group'] = (
    revenue_data['income_group']
    .str.replace('&', ',')
    .str.split(',')
)
revenue_data

            company       sector                     income_group
0           Dream11  Fantasy/App         [Middle ,  Upper-middle]
1        PokerBaazi  Fantasy/App         [Middle ,  Upper-middle]
2        My11Circle  Fantasy/App         [Middle ,  Upper-middle]
3  Vimal Pan Masala   Pan Masala  [Lower,  Middle,  Upper-middle]
4      Kamla Pasand   Pan Masala  [Lower,  Middle,  Upper-middle]
5          Rajshree   Pan Masala                 [Lower,  Middle]

In [148]:
revenue_data.loc[:, 'income_group'] = (
    revenue_data['income_group']
    .apply(lambda x: x if isinstance(x, list) else [])
    .apply(lambda groups: [g.strip().title() for g in groups])
)
revenue_data

            company       sector                   income_group
0           Dream11  Fantasy/App         [Middle, Upper-Middle]
1        PokerBaazi  Fantasy/App         [Middle, Upper-Middle]
2        My11Circle  Fantasy/App         [Middle, Upper-Middle]
3  Vimal Pan Masala   Pan Masala  [Lower, Middle, Upper-Middle]
4      Kamla Pasand   Pan Masala  [Lower, Middle, Upper-Middle]
5          Rajshree   Pan Masala                [Lower, Middle]

In [149]:
demography_data = summary_demography.copy()
demography_data

,income_group,annual_income,estimated_user_population,key_characteristics
0,Lower,< 3 Lakhs,~150 to 200 million,"Daily wage workers, rural populations, unorgan..."
1,Middle,3 - 7 Lakhs,~100 to 150 million,"Urban migrants, small traders, non-premium pan..."
2,Upper-Middle,7-12 Lakhs,~30 to 50 million,"urban professionals, casual gamers, techies"

In [150]:
population_map = {
    "Lower": (150, 200),
    "Middle": (100, 150),
    "Upper-Middle": (30, 50)
}

def calculate_population_range(income_groups):
    min_pop, max_pop = 0, 0

    for group in income_groups:
        if group in population_map:
            lo, hi = population_map[group]
            min_pop += lo
            max_pop += hi

    if min_pop == 0 and max_pop == 0:
        return None

    return [min_pop, max_pop]

In [151]:
revenue_data.loc[:, 'estimated_user_population'] = (
    revenue_data['income_group']
    .apply(calculate_population_range)
)

C:\Users\Hp\AppData\Local\Temp\ipykernel_20764\1278663992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_data.loc[:, 'estimated_user_population'] = (

In [152]:
revenue_data

,company,sector,income_group,estimated_user_population
0,Dream11,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]"
1,PokerBaazi,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]"
2,My11Circle,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]"
3,Vimal Pan Masala,Pan Masala,"[Lower, Middle, Upper-Middle]","[280, 400]"
4,Kamla Pasand,Pan Masala,"[Lower, Middle, Upper-Middle]","[280, 400]"
5,Rajshree,Pan Masala,"[Lower, Middle]","[250, 350]"

In [153]:
revenue_data['estimated_user_population']

0    [130, 200]
1    [130, 200]
2    [130, 200]
3    [280, 400]
4    [280, 400]
5    [250, 350]
Name: estimated_user_population, dtype: object

In [154]:
# Market share of each of the company 
revenue_data['market_share'] = [0.75, 0.025, 0.075, 0.07, 0.08, 0.10]

def actual_user_population(row):
    min_pop, max_pop = row['estimated_user_population']   # [130, 200] kind of values
    share = row['market_share']
    return [round(min_pop * share, 2), round(max_pop * share, 2)]

revenue_data['actual_user_population'] = revenue_data.apply(actual_user_population, axis=1)

C:\Users\Hp\AppData\Local\Temp\ipykernel_20764\1059321808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_data['market_share'] = [0.75, 0.025, 0.075, 0.07, 0.08, 0.10]
C:\Users\Hp\AppData\Local\Temp\ipykernel_20764\1059321808.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_data['actual_user_population'] = revenue_data.apply(actual_user_population, axis=1)

In [155]:
revenue_data

,company,sector,income_group,estimated_user_population,market_share,actual_user_population
0,Dream11,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]",0.750,"[97.5, 150.0]"
1,PokerBaazi,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]",0.025,"[3.25, 5.0]"
2,My11Circle,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]",0.075,"[9.75, 15.0]"
3,Vimal Pan Masala,Pan Masala,"[Lower, Middle, Upper-Middle]","[280, 400]",0.070,"[19.6, 28.0]"
4,Kamla Pasand,Pan Masala,"[Lower, Middle, Upper-Middle]","[280, 400]",0.080,"[22.4, 32.0]"
5,Rajshree,Pan Masala,"[Lower, Middle]","[250, 350]",0.100,"[25.0, 35.0]"

In [156]:
# According the Internet, the negative impacts are:  28% and 5% for pan_masala_users and fantasy_gaming_users respectively
impact_rate = { 'Fantasy/App': 0.05, 'Pan Masala': 0.28 }

revenue_data['impact_rate'] = revenue_data['sector'].map(
    lambda x: impact_rate.get(x, 0)
)

def negative_impact_user_population(row):
    min_pop, max_pop = row['actual_user_population']
    impact_rate = row['impact_rate']

    return [round(min_pop * impact_rate, 2), round(max_pop * impact_rate, 2)]

revenue_data['negative_impact_user_population'] = (
    revenue_data.apply(negative_impact_user_population, axis=1)
)

C:\Users\Hp\AppData\Local\Temp\ipykernel_20764\274402324.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_data['impact_rate'] = revenue_data['sector'].map(
C:\Users\Hp\AppData\Local\Temp\ipykernel_20764\274402324.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_data['negative_impact_user_population'] = (

In [157]:
revenue_data

,company,sector,income_group,estimated_user_population,market_share,actual_user_population,impact_rate,negative_impact_user_population
0,Dream11,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]",0.750,"[97.5, 150.0]",0.05,"[4.88, 7.5]"
1,PokerBaazi,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]",0.025,"[3.25, 5.0]",0.05,"[0.16, 0.25]"
2,My11Circle,Fantasy/App,"[Middle, Upper-Middle]","[130, 200]",0.075,"[9.75, 15.0]",0.05,"[0.49, 0.75]"
3,Vimal Pan Masala,Pan Masala,"[Lower, Middle, Upper-Middle]","[280, 400]",0.070,"[19.6, 28.0]",0.28,"[5.49, 7.84]"
4,Kamla Pasand,Pan Masala,"[Lower, Middle, Upper-Middle]","[280, 400]",0.080,"[22.4, 32.0]",0.28,"[6.27, 8.96]"
5,Rajshree,Pan Masala,"[Lower, Middle]","[250, 350]",0.100,"[25.0, 35.0]",0.28,"[7.0, 9.8]"

In [158]:
# Total Estimated Actual User
actual_user_total_min = revenue_data['actual_user_population'].apply(lambda x: x[0]).sum()
actual_user_total_max = revenue_data['actual_user_population'].apply(lambda x: x[1]).sum()

print(f"Total estimated actual user: {actual_user_total_min:.1f}–{actual_user_total_max:.1f}")

Total estimated actual user: 177.5–265.0

In [159]:
# Total Negatively impacted population
negatively_impacted_total_min = revenue_data['negative_impact_user_population'].apply(lambda x: x[0]).sum()
negatively_impacted_total_max = revenue_data['negative_impact_user_population'].apply(lambda x: x[1]).sum()

print(f"Total negatively impacted population: {negatively_impacted_total_min:.1f}–{negatively_impacted_total_max:.1f}")

Total negatively impacted population: 24.3–35.1

In [111]:
min_percentage = negatively_impacted_total_min / actual_user_total_min * 100 
max_percentage = negatively_impacted_total_max / actual_user_total_max * 100

print(f"Percentage of negatively impacted users: {min_percentage:.1f}–{max_percentage:.1f}%")

Percentage of negatively impacted users: 13.7–13.2%

---
### 5️⃣ High Social-Risk Brand Promotions by Celebrities
List the top 5 celebrities who have been promoting the brands with high social risk in 2025 and analyse from the internet (tip: use perplexity) to see if they have been promoting similar brands in the last 2 years as well.

In [162]:
data = advertiser_data.copy()
data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause
0,Vishnu Packaging (Vimal Elaichi),Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
1,Sporta Technologies (Dream11),Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,Moderate,Moderate (Sugar Content)
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling
4,Rajshree Silver Coated Elaichi,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
5,Parle Biscuits,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate,Moderate (Sugar Content)
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling
8,Britannia 50-50,FMCG (Biscuits & Snacks),multiple,Moderate,Moderate,Moderate (Sugar Content)
9,Amazon Prime,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low,Low

In [163]:
brand_mapping = {
   "Vishnu Packaging (Vimal Elaichi)":  "Vimal Pan Masala", 
   "Sporta Technologies (Dream11)": "Dream11", 
   "Rajshree Silver Coated Elaichi": "Rajshree", 
   "Reliance Consumer Products": "Reliance Consumer Products", 
   "My11Circle": "My11Circle", 
   "Kamla Pasand": "Kamla Pasand", 
   "PokerBaazi": "PokerBaazi"
}

data['advertiser_brand'] = data['advertiser_brand'].map(brand_mapping)
data

,advertiser_brand,category,brand_ambassadors,celebrity_influence,health_social_risk,health_social_risk_cause
0,Vimal Pan Masala,Pan Masala/Mouth Freshener,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
1,Dream11,Fantasy Gaming / Betting,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High,Extremely High,Promotes Gambling
2,Reliance Consumer Products,FMCG / Beverages,multiple,Moderate,Moderate,Moderate (Sugar Content)
3,My11Circle,Fantasy Gaming / Betting,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High,Extremely High,Promotes Gambling
4,Rajshree,Pan Masala/Mouth Freshener,Salman Khan,Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
5,NaN,FMCG (Biscuits & Snacks),"Ananya Panday, Lakshya (Hide & Seek)",Moderate,Moderate,Moderate (Sugar Content)
6,Kamla Pasand,Pan Masala/Mouth Freshener,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High,Extremely High,Carcinogenic (Surrogate Ads)
7,PokerBaazi,Fantasy Gaming / Betting,Shahid Kapoor,High,Extremely High,Promotes Gambling
8,NaN,FMCG (Biscuits & Snacks),multiple,Moderate,Moderate,Moderate (Sugar Content)
9,NaN,OTT/Entertainment,"Varun Dhawan, Alia Bhatt",High,Low,Low

In [164]:
high_risk_brand = advertising_brands.sort_values('risk_index_rank', ascending=False).head(6)

high_risk_brand = high_risk_brand.merge(data, left_on='advertiser_brand', right_on='advertiser_brand')
high_risk_brand = high_risk_brand[['advertiser_brand', 'brand_ambassadors', 'celebrity_influence']]

high_risk_brand

,advertiser_brand,brand_ambassadors,celebrity_influence
0,Vimal Pan Masala,"Shah Rukh Khan, Ajay Devgn, Akshay Kumar",Extremely High
1,Rajshree,Salman Khan,Extremely High
2,Kamla Pasand,"Virender Sehwag, Sunil Gavaskar (2025), previo...",Extremely High
3,Dream11,"Rohit Sharma, Aamir Khan, Ranbir Kapoor, Varun...",Extremely High
4,PokerBaazi,Shahid Kapoor,High
5,My11Circle,"Sourav Ganguly, Shubman Gill, Mohammed Siraj, ...",High

In [165]:
high_risk_brand['brand_ambassadors'] = high_risk_brand['brand_ambassadors'].str.split(',')
high_risk_brand

,advertiser_brand,brand_ambassadors,celebrity_influence
0,Vimal Pan Masala,"[Shah Rukh Khan, Ajay Devgn, Akshay Kumar]",Extremely High
1,Rajshree,[Salman Khan],Extremely High
2,Kamla Pasand,"[Virender Sehwag, Sunil Gavaskar (2025), pre...",Extremely High
3,Dream11,"[Rohit Sharma, Aamir Khan, Ranbir Kapoor, V...",Extremely High
4,PokerBaazi,[Shahid Kapoor],High
5,My11Circle,"[Sourav Ganguly, Shubman Gill, Mohammed Sira...",High

In [166]:
high_risk_brand = high_risk_brand.explode('brand_ambassadors').reset_index(drop=True)   
celebrity_influence = high_risk_brand[ high_risk_brand['celebrity_influence'] == "Extremely High"]

In [167]:
celebrity_influence

    advertiser_brand          brand_ambassadors celebrity_influence
0   Vimal Pan Masala             Shah Rukh Khan      Extremely High
1   Vimal Pan Masala                 Ajay Devgn      Extremely High
2   Vimal Pan Masala               Akshay Kumar      Extremely High
3           Rajshree                Salman Khan      Extremely High
4       Kamla Pasand            Virender Sehwag      Extremely High
5       Kamla Pasand      Sunil Gavaskar (2025)      Extremely High
6       Kamla Pasand   previously Ranveer Singh      Extremely High
7       Kamla Pasand           Amitabh Bachchan      Extremely High
8            Dream11               Rohit Sharma      Extremely High
9            Dream11                 Aamir Khan      Extremely High
10           Dream11              Ranbir Kapoor      Extremely High
11           Dream11               Varun Dhawan      Extremely High
12           Dream11              Hardik Pandya      Extremely High
13           Dream11                     others      Extremely High